<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FlagUpMail - The Digital Time Capsule">
    <meta name="author" content="Dorian LCC - Juan Abraham Gomez">
    <title>FlagUpMail - The Electronic Time Capsule</title>

	<!-- Custom Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet" type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media:'all', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<!-- Stripe -->
	<script src="https://js.stripe.com/v3/"></script>

	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
</head>

<body id="page-top" class="index">
	<!-- Navigation -->
  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top ">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        	<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
        </button>
				<a class="navbar-brand page-scroll" href="#page-top" >
					<div class="temp_con">
						<%= image_tag('fum_logo/fum_orange.png',alt:'fum_orange.png logo',width:"40", height:"40" ) %>
					</div>
					flagUpmail
				</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right navbar-margin">
						<li class="hidden">
								<a  href="#page-top"></a>
						</li>
						<li>
								<a class="page-scroll" href="#services" >Services</a>
						</li>
						<li>
								<a class="page-scroll" href="#portfolio">Portfolio</a>
						</li>
						<li>
								<a class="page-scroll" href="#about">About</a>
						</li>
						<li>
								<a class="page-scroll" href="#team">Team</a>
						</li>
						<li>
								<a class="page-scroll" href="#contact">Contact</a>
						</li>
				</ul>
			</div>
		</div>		
	</nav>
	
	<!-- Header -->
	<header>
			<div class="container">
					<div class="intro-text">
							<div class="intro-lead-in">The Digital Time Capsule!</div>
							<div class="intro-heading">It's Nice To Meet You.</div>
							<a href="#services" class="page-scroll btn btn-xl badge">How it works!</a>
					</div>
			</div>
	</header>
  	
  	<%= yield %>
</body>


	
</html>
